.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
}

/*Подключение шрифтов*/

@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    font-style: normal;

    src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;

    src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 800;
    font-style: normal;

    src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;

    src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") formmat("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;

    src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}


html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;

    min-width: 1200px;
    margin: 0;
    padding: 0;

    color: #000;
}

a {
    text-decoration: none;
}

.container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.page-header {
    position: relative;

    margin-top: 40px;
    padding-top: 33px;

    background-color: #f7e296;
}

/*Хедэр - Логотип*/

.page-header-logo {
    position: absolute;
    top: -20px;
    left: 0;

    padding-left: 59px;
}

.page-header-logo a[href]:hover,
.page-footer-logo a[href]:hover {
    opacity: .6;
}

.page-header-logo a[href]:active,
.page-footer-logo a[href]:active {
    opacity: .3;
}

/*Хэдер - Навигация пользователя*/

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    width: 1040px;
    margin-bottom: 32px;
    padding-right: 60px;
    padding-left: 60px;
}

/*Навигация пользователя - Форма (Поиск по сайту)*/

.user-navigation form {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 440px;
    min-height: 49px;
    margin-right: 100px;
    padding-top: 0;

    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 3px 50%;
}

/*Поиск по сайту - Поле ввода запроса*/

.user-navigation .field-search {
    box-sizing: border-box;
    width: 355px;
    min-height: 49px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 39px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    color: #000;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;

    letter-spacing: .15px;
}

.field-search::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .3);
}

.field-search::-ms-input-placeholder {
    color: rgba(0, 0, 0, .3);
}

.field-search:-ms-input-placeholder {
    color: rgba(0, 0, 0, .3);
}

.field-search::placeholder {
    color: rgba(0, 0, 0, .3);
}

.field-search:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .6);
}

.field-search:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, .6);
}

.field-search:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, .6);
}

.field-search:hover::placeholder {
    color: rgba(0, 0, 0, .6);
}

.field-search:focus {
    border-bottom: 2px solid black;
    outline: transparent;
}

/*Поиск по сайту - Кнопка "Найти"*/

.button-search {
    display: block;

    width: 85px;
    min-height: 49px;
    padding: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;

    opacity: 0;
    color: #000;
    border: 2px solid #000;
    outline: none;
    background-color: transparent;

    cursor: pointer;
    letter-spacing: .3px;
}

.button-search:focus {
    opacity: 1;
    color: #fff;
    outline: 1px solid #4d90fe;
    background-color: #000;
}

.button-search:hover {
    color: #fff;
    background-color: #000;
}

.button-search:active {
    opacity: 1;
    color: rgba(255, 255, 255, .3);
    background-color: #000;
}

.field-search:focus ~ .button-search {
    opacity: 1;
}

/*Навигация пользователя - Пользовательское меню*/

.user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 500px;
    margin: 0;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 10px;

    list-style: none;
}

.user-menu li:not(.user-out) {
    margin-left: 40px;
}

.user-menu li:first-child {
    margin-right: auto;
}

.user-menu li:nth-child(4n+1) {
    margin-left: 0;
}

.login-out {
    margin-right: 25px;

    opacity: .3;
}

.user-menu a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    color: #000;

    letter-spacing: .15px;
}

.user-menu a:hover {
    opacity: .6;
}

.user-menu a:active {
    opacity: .3;
}

/*Пользовательское меню - Декоративные элементы*/

.login-link::before {
    display: inline-block;

    width: 13px;
    height: 12px;
    margin-right: 14px;

    background-image: url("../img/user.svg");

    content: "";
    vertical-align: baseline;
}

.compare::before {
    display: inline-block;

    width: 10px;
    height: 10px;
    margin-right: 10px;

    background-image: url("../img/compare.svg");

    content: "";
    vertical-align: baseline;
}

.cart::before {
    display: inline-block;

    width: 12px;
    height: 12px;
    margin-right: 10px;

    background-image: url("../img/cart.svg");

    content: "";
    vertical-align: baseline;
}

/*Хэдер - Навигация по сайту*/

.main-navigation {
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 60px;
}

/*Навигация по сайту - Меню магазина*/

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 1040px;
    margin: 0;
    padding: 0;

    list-style: none;
}

/*Меню магазина - Сетка меню*/

.site-navigation > li:first-child,
.site-navigation > li:nth-child(4n+1) {
    position: relative;

    width: 440px;
    margin-right: 100px;
}

.site-navigation > li:not(:nth-child(4n+1)):not(:nth-child(4n)) {
    margin-right: 35px;
}

.site-navigation > li:nth-child(4n) {
    margin-right: -4px;
    margin-left: auto;
}

/*Меню магазина - Ссылки*/

.site-navigation a,
.site-navigation button {
    margin: 0;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;

    color: #000;
    border: none;
    background: none;

    cursor: pointer;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.site-navigation a[href]:hover {
    opacity: .5;
}

.site-navigation a[href]:active {
    opacity: .3;
}

/*Меню магазина - Подменю*/

.submenu {
    position: absolute;
    z-index: 20;
    top: 20px;
    left: -60px;

    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 1040px;
    margin: 0;
    padding: 0;
    padding-top: 22px;
    padding-right: 60px;
    padding-bottom: 33px;
    padding-left: 60px;

    background-color: #f7e296;

    list-style: none;

    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.catalog-product:hover .submenu,
.catalog-product:focus .submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product-group ul {
    width: 160px;
    margin: 0;
    padding: 0;
    padding-left: 40px;

    list-style: none;
}

.product-group:nth-child(5n+1) ul {
    width: 200px;
    padding-left: 0;
}

.submenu a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;

    color: #000;

    letter-spacing: .15px;
    text-transform: none;
}

.submenu a[href]:hover {
    opacity: .6;
}

.submenu a[href]:active {
    opacity: .3;
}

/*Открытие каталога при нажатии кнопки КАТАЛОГ ТОВАРОВ */

.catalog-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*Открытие каталога при нажатии символа + */

.submenu-plus:checked ~ .submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.submenu-plus + label {
    font-size: 0;
}

.submenu-plus + label::after {
    position: absolute;
    top: 2px;
    left: 230px;

    width: 16px;
    height: 16px;

    opacity: .3;
    background-image: url("../img/plus.svg");

    content: "";
    cursor: pointer;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: .15s;
         -o-transition-duration: .15s;
            transition-duration: .15s;
}

.submenu-plus:focus + label::after {
    outline: 2px auto #4d90fe;
}

.submenu-plus:checked + label::after {
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: .15s;
         -o-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

/*Блок Слайдер*/

.main-slider {
    position: relative;

    margin-bottom: 65px;

    background: -webkit-linear-gradient(top, #f7e296 113px, #fff 113px);
    background:      -o-linear-gradient(top, #f7e296 113px, #fff 113px);
    background:         linear-gradient(to bottom, #f7e296 113px, #fff 113px);
}

/*Сетка слайдера*/

.slide {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    min-height: 510px;
}

/*Сетка слайдера - Блок изображения слайда*/

.slide-photo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 560px;

    text-align: center;
}

.slide-item-first img {
    margin-top: 4px;
    margin-left: 5px;
}

.slide-item-second img {
    margin-top: 15px;
    margin-left: 20px;
}

.slide-item-third img {
    margin-top: 67px;
    margin-left: 27px;
}

/*Сетка слайдера - Блок описания слайда*/

.slide-description {
    width: 560px;
    margin-left: 10px;
}

.slide-description svg {
    position: relative;
    z-index: 1;
}

/*Описание слайда - Заголовок слайда*/

.slide-description h3 {
    position: relative;
    z-index: 1;

    margin-top: 0;
    margin-bottom: 20px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    color: #000;

    text-align: left;
    letter-spacing: .6px;
}

/*Описание слайда - Номер слайда*/

.slide-description h3::after {
    position: absolute;
    z-index: -1;
    top: -93px;
    right: 48px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 179px;
    font-weight: 400;
    line-height: 179.2px;

    color: #fff;

    content: "";
    text-align: right;
    letter-spacing: .36px;
}

.slide-item-first h3::after {
    content: "01";
}

.slide-item-second h3::after {
    content: "02";
}

.slide-item-third h3::after {
    content: "03";
}

/*Описание слайда - Описание товара*/

.slide-description p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    color: #464646;

    text-align: left;
    letter-spacing: .17px;
}

/*Описание слайда - Ссылка на товар*/

.slide-description a {
    position: relative;

    display: block;

    width: 220px;
    margin: 40px 0;
    padding: 10px 0;
    padding-left: 3px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    color: #000;

    letter-spacing: 3.8px;
    text-transform: uppercase;
}

.slide-description a::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;

    width: 220px;
    height: 9px;

    background-color: #f0c52e;

    content: "";
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.slide-description a:hover::before {
    height: 40px;
}

.slide-description a:active {
    color: rgba(0, 0, 0, .3);
}

/*Блок описания слайда - Характеристики товара (таблица)*/

.slide-description table {
    border-collapse: collapse;

    text-align: left;
}

.slide-description td {
    padding-top: 10px;
    padding-right: 76px;
    padding-bottom: 10px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;

    color: #000;

    letter-spacing: .36px;
}

.slide-description td:last-child {
    padding-right: 0;
}

.slide-description th {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;

    color: #464646;

    letter-spacing: .13px;
}

/*Переключатель слайдов - Скрытие неактивных слайдов*/

input[id="slide-one"]:checked ~ .slide-item-second,
input[id="slide-one"]:checked ~ .slide-item-third {
    display: none;
}

input[id="slide-two"]:checked ~ .slide-item-first,
input[id="slide-two"]:checked ~ .slide-item-third {
    display: none;
}

input[id="slide-three"]:checked ~ .slide-item-first,
input[id="slide-three"]:checked ~ .slide-item-second {
    display: none;
}

/*Переключатель слайдов - Внешний вид переключателей*/

.slide-controls {
    position: absolute;
    z-index: 10;
    top: 310px;
    right: 72px;
}

.btn-control {
    display: inline-block;

    width: 24px;
    height: 24px;
    margin-right: 5px;

    font-size: 0;

    background: url("../img/slider-button-empty.svg") no-repeat;

    cursor: pointer;
    -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
            transform: scale(.5);
    vertical-align: baseline;
}

input[id="slide-one"]:checked ~ .slide-controls label[for="slide-one"] {
    background: url("../img/slider-button.svg") no-repeat;
}

input[id="slide-two"]:checked ~ .slide-controls label[for="slide-two"] {
    background: url("../img/slider-button.svg") no-repeat;
}

input[id="slide-three"]:checked ~ .slide-controls label[for="slide-three"] {
    background: url("../img/slider-button.svg") no-repeat;
}

input[id="slide-one"]:focus ~ .slide-controls label[for="slide-one"],
input[id="slide-two"]:focus ~ .slide-controls label[for="slide-two"],
input[id="slide-three"]:focus ~ .slide-controls label[for="slide-three"] {
    outline: 2px auto blue;
}

/*Блок Категории товаров*/

.category {
    margin-bottom: 82px;
}

.category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.category-list li {
    min-height: 240px;
    margin-top: 20px;
    margin-right: 40px;
}

.category-list li:nth-child(6n) {
    margin-right: 0;
}

.category-item {
    position: relative;

    display: block;

    width: 160px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    color: #000;

    letter-spacing: .18px;
}

.category-item::before {
    display: block;

    width: 160px;
    height: 160px;
    margin-bottom: 33px;

    background-color: #f7e296;

    content: "";
}

.category-item::after {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 160px;
    height: 160px;

    background-repeat: no-repeat;

    content: "";
}

.category-item:hover::before,
.category-item:focus::before {
    background-color: #f0c52e;
}

.category-item:active {
    color: rgba(0, 0, 0, .3);
}

.category-item:active::after {
    opacity: .3;
}

.virtual::after {
    background-image: url("../img/popular-1.svg");
    background-position: 31px 52px;
}

.monopods::after {
    background-image: url("../img/popular-2.svg");
    background-position: 38px 41px;
}

.cameras:after {
    background-image: url("../img/popular-3.svg");
    background-position: 49px 38px;
}

.bands::after {
    background-image: url("../img/popular-4.svg");
    background-position: 28px 50px;
}

.watches::after {
    background-image: url("../img/popular-5.svg");
    background-position: 55px 32px;
}

.copters::after {
    background-image: url("../img/popular-6.svg");
    background-position: 13px 49px;
}

/*Блок Наши сервисы*/

.services {
    margin-bottom: 165px;

    background: -webkit-linear-gradient(top, #fff 100px, #e5e5e5 100px);
    background:      -o-linear-gradient(top, #fff 100px, #e5e5e5 100px);
    background:         linear-gradient(to bottom, #fff 100px, #e5e5e5 100px);
    -webkit-box-shadow: 0 69px 0 0 #e5e5e5;
            box-shadow: 0 69px 0 0 #e5e5e5;
}

.services-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

/*Перечень сервисов - Левый блок */

.service-list {
    width: 278px;
    margin: 0;
    margin-right: 115px;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 44px;

    border-right: 7px solid black;

    list-style: none;

    text-align: center;
}

.service-list li {
    margin-bottom: 24px;

    text-align: left;
}

/*Перечень сервисов - Левый блок - Оформление ссылок*/

.current.btn {
    padding-right: 118px;

    color: #f7e184;
    background: #000;
}

.current::before {
    display: none;
}

.btn-slider.btn:active::before {
    background-color: #000;
}

.btn-slider.btn:active {
    color: #f7e184;
}

/*Описание сервиса - Правый блок - Текст*/

.slide-warranty,
.slide-credit {
    display: none;
}

.service-description {
    position: relative;

    width: 460px;
    margin: 0;
    margin-right: 100px;
    padding: 0;

    list-style: none;
}

.service-description h2 {
    margin-top: 0;
    margin-bottom: 32px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 400;
    line-height: 47px;

    color: #000;

    letter-spacing: 1.1px;
}

.service-description p {
    width: 460px;
    margin: 0;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    color: #464646;

    letter-spacing: .29px;
}

.service-description li {
    position: relative;

    margin-top: 73px;
    padding-right: 240px;
}

.service-item::after {
    position: absolute;
    top: 0;
    left: 558px;

    display: block;

    width: 200px;
    height: 200px;

    background-repeat: no-repeat;
    background-position: 0 0;

    content: "";
}

.slide-delivery::after {
    top: 12px;
    right: -58px;

    background-image: url("../img/delivery.svg");
}

.slide-warranty::after {
    top: -12px;
    right: -43px;

    background-image: url("../img/warranty.svg");
}

.slide-credit::after {
    top: -12px;
    right: -34px;

    background-image: url("../img/credit.svg");
}

/*Блок Бренды*/

.brands {
    margin-bottom: 64px;
}

/*Перечень брендов*/

.device-brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.device-brands li {
    margin-right: 40px;
    margin-bottom: 20px;
}

.device-brands li:nth-child(4n) {
    margin-right: 0;
}

/*Бренды в цвете при наведении*/

.djj:hover img,
.djj:focus img {
    background: url("../img/brand-hover-1.png");
}

.spgadgets:hover img,
.spgadgets:focus img {
    background: url("../img/brand-hover-2.png");
}

.gopro:hover img,
.gopro:focus img {
    background: url("../img/brand-hover-3.png");
}

.vive:hover img,
.vive:focus img {
    background: url("../img/brand-hover-4.png");
}

/*Блок Наша компания*/

.our-company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin-bottom: 82px;
}

/*Наша компания - О нас*/

.about-us {
    width: 480px;
}

.about-us span {
    text-transform: uppercase;
}

/*Наша компания - Контакты*/

.contacts {
    width: 560px;
}

.contacts img {
    margin-top: 8px;
    padding-bottom: 66px;
}

/*Наша компания = О нас + Контакты*/

.our-company h3 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: -2px;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 400;

    color: #000;

    letter-spacing: .7px;
}

.our-company p {
    margin-bottom: 30px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    color: #464646;

    letter-spacing: .1px;
}

/*Наша компания - Список транспортных компаний*/

.cargo {
    margin: 0;
    margin-top: 65px;
    margin-bottom: 55px;
    margin-left: 15px;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;

    color: #000;

    list-style-image: url("../img/list-button.png");

    letter-spacing: .3px;
}

.cargo li {
    padding-left: 20px;
}

/*Наша компания - Ссылки = Подробнее о нас + Напишите нам*/

.our-company-link {
    width: 260px;
}

/*Футер*/

.main-footer {
    width: 100%;

    background-color: #464646;
}

/*Футер* - Контейнер футер 1160*/

.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    color: #fff;
}

/*Верхний блок футера*/

.top-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    margin-top: 65px;
    margin-bottom: 10px;
}

/*Верхний блок футера - Логотип Device*/

.page-footer-logo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

/*Верхний блок футера - Пользовательское меню*/

.footer-user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 565px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-user-navigation li {
    margin-left: 43px;
}

.footer-user-navigation .user-out {
    margin-left: 20px;
}

.footer-user-navigation a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;

    opacity: .7;
    color: #fff;
}

.footer-user-navigation a:hover {
    opacity: 1;
}

.footer-user-navigation a:active {
    opacity: .3;
}

.footer-user-navigation .footer-login-out {
    opacity: .3;
}

/*Эффекты при наведении и нажатии*/

.footer-user-navigation .login-link::before {
    background-image: url("../img/user-yellow.png");
}

.footer-user-navigation .compare::before {
    background-image: url("../img/compare-yellow.png");
}

.footer-user-navigation .cart::before {
    background-image: url("../img/cart-yellow.png");
}

/*Средний блок футера*/

.middle-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

/*Средний блок футера - Адрес*/

.adress {
    width: 265px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    color: #fff;
}

/*Средний блок футера - Навигация магазина*/

.footer-site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;

    width: 425px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-site-navigation a {
    display: inline-block;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    color: #fff;

    vertical-align: middle;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.footer-site-navigation a:hover {
    opacity: .6;
}

.footer-site-navigation a:active {
    opacity: .3;
}

/*Средний блок футера - Телефон*/

.phone {
    width: 260px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    color: #fff;

    text-align: right;
}

/*Нижний блок футера*/

.bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 47px;
    margin-bottom: 65px;
}

/*Нижний блок футера - Линия*/

.line {
    width: 100px;
}

/*Нижний блок футера - Социальные сети*/

.footer-social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 160px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-social-links li {
    margin-right: 22px;
}

.footer-social-links li:last-child,
.footer-social-links li:nth-child(3n) {
    margin-right: 0;
}

.social-logo::before {
    display: inline-block;

    width: 33px;
    height: 33px;

    opacity: .3;

    content: "";
    vertical-align: baseline;
}

.footer-facebook::before {
    background: url("../img/fb.svg") no-repeat;
}

.footer-instagram::before {
    background: url("../img/instagram.svg") no-repeat;
}

.footer-twitter::before {
    background: url("../img/twitter.svg") no-repeat;
}

.social-logo:hover::before {
    opacity: .6;
}

.social-logo:active::before {
    opacity: .1;
}

/*Нижний блок футера - Логотип HTML Academy*/

.bottom-footer .logo-academy {
    width: 100px;

    text-align: right;
}

.logo-academy a:hover {
    opacity: .6;
}

.logo-academy a:active {
    opacity: .3;
}

.footer-social-links a {
    display: inline-block;

    width: 32px;
    height: 32px;

    vertical-align: baseline;
}

/* С-Т-Р-А-Н-И-Ц-А   К-А-Т-А-Л-О-Г-А */

.catalog-header {
    padding-bottom: 50px;
}

/*Заголовок страницы Каталога */

.page-title {
    margin-top: 38px;
    margin-bottom: 25px;
    margin-left: 60px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;

    color: #000;

    letter-spacing: .7px;
}

/*Хлебные крошки*/

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 45px;
    margin-left: 60px;
    padding: 0;

    list-style: none;
}

.breadcrumbs li {
    position: relative;

    margin-right: 40px;
}

.breadcrumbs li::after {
    position: absolute;
    top: 9px;
    right: -24px;

    display: block;

    width: 7px;
    height: 7px;

    opacity: 1;
    background: url("../img/nav-arrow.svg") no-repeat;

    content: "";
}

.breadcrumbs li:last-child::after {
    display: none;
}

.breadcrumbs a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    opacity: .3;
    color: #000;
}

.breadcrumbs a:not(.current-page):hover {
    opacity: .6;
}

.breadcrumbs a:not(.current-page):active {
    opacity: .1;
}

/*Обертка фильтра и каталога*/

.wrapper-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*Блок Фильтр*/

.catalog-filter {
    position: relative;

    background: #efefef;
}

.catalog-filter::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    width: 100vw;
    height: 100%;

    background-color: #efefef;

    content: " ";
}

/*Фильтр Каталога*/

.header-filter,
.header-sort {
    margin: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #000;

    vertical-align: middle;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.header-filter {
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 328px;
    padding: 23px 0;
    padding-left: 60px;

    background-color: #dbdbdb;
}

.header-filter::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    width: 100vw;
    height: 100%;

    background-color: #dbdbdb;

    content: " ";
}

.filter {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 328px;
    margin-bottom: 30px;
    padding-top: 69px;
    padding-right: 68px;
    padding-left: 60px;
    /*background: #efefef;*/
}

.filter fieldset {
    margin: 0;
    padding: 0;

    border: none;
}

.filter legend {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    color: #000;
    border-top: 2px solid black;

    letter-spacing: .18px;
}

.filter li {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-weight: 300;
    line-height: 40px;

    color: #000;

    letter-spacing: .14px;
}

/*Фильтр по стоимости*/

.range-filter {
    width: 201px;
    margin-bottom: 23px;
    padding-bottom: 10px;
}

/*Фильтр по цвету*/

.filter-color {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 31px;
    padding: 0;

    list-style: none;
}

/*Фильтр по Bluetooth*/

.filter-bluetooth {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 31px;
    padding: 0;

    list-style: none;
}

/*Позиционирование кнопки -Показать- для .btn*/

.filter-button {
    position: relative;
}

.filter-button .btn {
    width: 200px;
}

/* Внешний вид фильтра СТОИМОСТЬ */

.range-controls {
    position: relative;

    margin-bottom: 10px;
    padding-top: 25px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background-color: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    top: 15px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;

    cursor: pointer;
}

.range-controls .toggle-min {
    left: -4px;
}

.range-controls .toggle-max {
    left: 107px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    opacity: .3;
    color: #000;

    vertical-align: baseline;
}

.price-controls input {
    width: 60px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;

    color: #283136;
    border: none;
    background: #f0ede0;

    text-align: left;
}

.min-price {
    margin-right: 10px;
}

.max-price {
    text-align: right;
}

/* Внешний вид фильтра ЦВЕТ */

.filter-option {
    padding-left: 40px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-checkbox:hover + label,
.filter-input:hover + label {
    opacity: .6;
}

.filter-input-checkbox + label::before,
.filter-input-checkbox:checked + label::after {
    position: absolute;
    top: 8px;
    left: -42px;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    content: "";
}

.filter-input-checkbox:checked + label::after {
    width: 27px;

    background-image: url("../img/checkbox-on.svg");
}

/* Внешний вид фильтра BLUETOOTH */

.filter-input-radio + label::before,
.filter-input-radio:checked + label::after {
    position: absolute;
    top: 8px;
    left: -42px;

    width: 25px;
    height: 25px;

    background-image: url("../img/radio-off.svg");

    content: "";
}

.filter-input-radio:checked + label::after {
    background-image: url("../img/radio-on.svg");
}

.filter-input:focus + label::before,
.filter-input:focus + label::after {
    outline: 2px auto #4d90fe;
}

.filter-input:disabled + label,
.filter-input:checked:disabled + label,
.filter-input:disabled:hover + label,
.filter-input:disabled:focus + label {
    opacity: .25;

    pointer-events: none;
}

/*Сортировка каталога*/

.wrapper-sort {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    flex-wrap: wrap;

    width: 760px;
    padding: 23px 0 23px 72px;

    background-color: #ebebeb;
}

.wrapper-sort::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100%;

    background-color: #ebebeb;

    content: " ";
}

.header-sort {
    width: 160px;
    margin-right: 40px;

    word-wrap: break-word;
}

.catalog-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 460px;
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
}

.catalog-sort li {
    margin-right: 30px;
}

.catalog-sort a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    opacity: .3;
    color: #000;

    letter-spacing: .21px;
}

.catalog-sort a:not(.current-select):hover {
    opacity: .6;
}

.catalog-sort a:not(.current-select):active {
    opacity: 1;
}

.catalog-sort .current-select {
    opacity: 1;

    cursor: auto;
}

.catalog-direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 80px;
    margin: 0;
    margin-left: auto;
    padding: 0;

    list-style: none;
}

.catalog-direction li {
    margin-left: 20px;

    text-align: right;
}

.catalog-direction a {
    opacity: .2;
}

.catalog-direction a:not(.current-select):hover {
    opacity: .4;
}

.catalog-direction a:not(.current-select):active {
    opacity: 1;
}

.catalog-direction .current-select {
    opacity: 1;

    cursor: auto;
}

/*Каталог*/

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    width: 760px;
    margin: 0;
    margin-top: 70px;
    padding: 0;
    padding-left: 72px;

    list-style: none;
}

.catalog-item {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    margin-bottom: 45px;
}

.catalog-item:last-child,
.catalog-item:nth-last-child(2) {
    margin-bottom: 37px;
}

.catalog-item-image {
    width: 360px;
    height: 380px;
    margin-bottom: 32px;
}

.catalog-item-image::before {
    position: absolute;

    display: block;

    width: 360px;
    height: 380px;

    opacity: 0;
    background-color: #eee;

    content: " ";
}

.catalog-item-image:hover::before {
    opacity: .7;
}

.catalog-item-image:hover .btn-cart,
.catalog-item-image:hover .btn-compare {
    opacity: 1;
}

/*Кнопки на изображении товара*/

.btn-cart {
    position: absolute;
    top: -210px;
    left: 80px;

    display: block;

    width: 200px;

    opacity: 0;
}

.btn-cart:focus {
    z-index: 25;

    opacity: 1;
    outline: 1px dotted black;
    background-color: #f0c52e;
}

.btn-cart:active {
    outline: none;
}

.btn-compare {
    position: absolute;
    top: 220px;
    left: 102px;

    width: 160px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;

    opacity: 0;
    color: rgba(0, 0, 0, .5);
    border: none;
    background: none;

    cursor: pointer;
    letter-spacing: .13px;
}

.btn-compare:hover,
.btn-compare:focus {
    z-index: 25;

    opacity: 1;
    color: rgba(0, 0, 0, 1);
}

.btn-compare:focus {
    outline: 1px dotted black;
}

.btn-compare:active {
    color: rgba(0, 0, 0, .2);
    outline: none;
}

.catalog-item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog-item-description h1 {
    width: 260px;
    margin: 0;
    padding: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    color: #000;

    letter-spacing: .21px;
}

.catalog-item-description a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    color: #000;

    text-decoration: none;
}

.catalog-item-description p {
    width: 100px;
    margin: 0;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    color: #464646;

    text-align: right;
}

/* Маркер NEW на изображении товара*/

.catalog-new {
    position: relative;
}

.catalog-new::before {
    position: absolute;
    top: 27px;
    right: 25px;

    width: 58px;
    height: 58px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;

    opacity: .2;
    color: #000;
    border: 2px solid #000;
    border-radius: 50%;

    content: "New";
    text-align: center;
    letter-spacing: .21px;
    text-transform: uppercase;
}

.catalog-new:hover::before {
    opacity: .2;
}

/*Номера страниц каталога / Пагинация*/

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;

    width: 760px;
    margin: 0;
    margin-bottom: 75px;
    margin-left: 72px;
    padding: 0;

    background-color: #ebebeb;

    list-style: none;
}

.pagination-item {
    width: 440px;
}

.pagination-item-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    background-color: #ebebeb;

    list-style: none;
}

.pagination-item-group li {
    width: 40px;

    text-align: center;
}


.pagination-before {
    margin-right: auto;
}

.pagination-next {
    margin-left: auto;
}

.pagination-list a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #000;

    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.pagination-before a {
    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 137px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 32px;

    vertical-align: baseline;
}

.pagination-next a {
    display: inline-block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 137px;
    padding-top: 23px;
    padding-right: 24px;
    padding-bottom: 23px;

    text-align: right;
    vertical-align: baseline;
}

.pagination-item a[href] {
    opacity: .3;
}

.pagination-item a[href]:hover {
    opacity: .6;
}

.pagination-item a[href]:active,
.pagination-item-current a {
    opacity: 1;
}

.pagination-next a[href]:hover {
    background-color: #d8d8d8;
}

.pagination-before a[href]:active,
.pagination-next a[href]:active {
    opacity: .3;
}

/* К-О-Н-Е-Ц   С-Т-Р-А-Н-И-Ц-Ы   К-А-Т-А-Л-О-Г-А */

/* М-О-Д-А-Л-Ь-Н-Ы-Е   О-К-Н-А */

/*Кнопка заыкрытия модальных окон*/

.modal-close {
    position: absolute;
    top: 0;
    right: 0;

    width: 55px;
    height: 55px;
    margin: 22px;

    opacity: .5;
    border: 0;
    background: url("../img/modal-close.svg") no-repeat;

    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: .3;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
    }
    70% {
        -webkit-transform: translateY(600px);
                transform: translateY(600px);
    }
    85% {
        -webkit-transform: translateY(300px);
                transform: translateY(300px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
    }
    70% {
        -webkit-transform: translateY(600px);
                transform: translateY(600px);
    }
    85% {
        -webkit-transform: translateY(300px);
                transform: translateY(300px);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

.modal {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;

    margin-top: -280px;
    margin-left: -480px;

    color: #000;
    background-repeat: repeat;
    background-position: 0 0;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
            box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

/*Модальное окно - Карта*/

.modal-map {
    display: none;

    width: 960px;
    height: 560px;

    background-color: #f3f0e6;
    background-image: url("../img/map-big.jpg");
}

.modal-map iframe {
    border: none;
}

/*Модальное окно - Напишите нам*/

.modal-message {
    display: none;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 960px;
    height: 560px;
    padding-top: 91px;
    padding-right: 100px;
    padding-bottom: 82px;
    padding-left: 100px;

    background-color: #fff;

    -webkit-animation: bounce .7s;
            animation: bounce .7s;
}

.modal-show {
    display: block;
}

.modal-error {
    -webkit-animation: shake .6s;
            animation: shake .6s;
}

/*Форма Напишите нам*/

.sent-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.sent-message label {
    display: block;

    width: 100%;
    padding-bottom: 5px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    color: #000;
}

.sent-message input {
    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 360px;
    height: 50px;
    padding-left: 20px;

    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    opacity: .8;
    color: #464646;
    border: 2px solid transparent;
    background-color: #f2f2f2;
}

.sent-message textarea {
    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 760px;
    min-height: 132px;
    padding-top: 15px;
    padding-left: 20px;

    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    opacity: .8;
    color: #464646;
    border: 2px solid transparent;
    background-color: #f2f2f2;

    resize: none;
}

/*Поле Текст письма*/

.feedback-message {
    margin-top: 35px;
    margin-bottom: 65px;
}

.sent-message input:hover,
.sent-message textarea:hover {
    background-color: #ede9de;
}

.sent-message input:focus,
.sent-message textarea:focus {
    opacity: 1;
    border-color: #f0c52e;
    outline: 0;
    background-color: #fff;
}

.sent-message input:valid {
    background-color: #f2f2f2;
}

.sent-message input:invalid {
    background-color: #f6dada;
}

/*Поле Кнопка отправить*/

.feedback-sent {
    position: relative;
}

.feedback-sent span,
.filter-button span,
.btn-cart span {
    position: relative;
    z-index: 20;
}

/*Кнопка отправить*/

.btn {
    position: relative;
    z-index: 1;

    display: inline-block;

    min-width: 160px;
    margin: 0 auto;
    padding: 10px 0;
    padding-left: 2px;

    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;

    color: #000;
    border: none;
    background: none;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 3.42px;
    text-transform: uppercase;
}

.btn::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;

    width: 100%;
    height: 9px;

    background: #f0c52e;

    content: "";
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.btn:hover::before,
.btn:focus::before {
    height: 40px;
}

/*
.btn:active::before {
    background-color: #000;
}*/

.btn:active {
    color: rgba(0, 0, 0, .3);
}
